<!DOCTYPE html>
<html>
<head>
    <title>Web Keresd</title>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/keresd.css') }}">
</head>
<body>

<div class="container">
    <div class="left-column">
        <div class="video-container">
            <img src="http://{{ host }}:5051/mjpeg_keresd" class="video-stream" />
        </div>
        <div class="flex-box">
            <div class="flex-item" id="ball">
                <img src="{{ url_for('static', filename='images/tennis_ball_robot_dog.png') }}" alt="">
            </div>
            <div class="flex-item" id="obstacle">
                <img src="{{ url_for('static', filename='images/grass_field_rubber_cubes.png') }}" alt="">
            </div>
            <div class="flex-item" id="decision">
                <img src="{{ url_for('static', filename='images/compass.png') }}" alt="">
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="text-box yellow-box" id="en"></div>
        <div class="text-box white-box" id="x"></div>
    </div>
</div>

<script>
    var socket = io();
    
    socket.on('xtext', function(data) {
        console.log(data);
        document.getElementById('x').innerHTML = data;
    });

    socket.on('entext', function(data) {
        console.log(data);
        document.getElementById('en').innerHTML = data;
    });

    socket.on('ball', function() {
    });

    socket.on('obstacle', function() {
    });

</script>

</body>
</html>
